      # Flutter/Dart/Pub related
      .dart_tool/
      .packages
      .pub-cache/
      .pub/
      /build/
      flutter_export_environment.sh

      # Android related
      **/android/**/gradle-wrapper.jar
      **/android/**/gradle/
      **/android/**/gradlew
      **/android/**/gradlew.bat
      **/android/**/local.properties
      **/android/**/.gradle/
      **/android/**/app/*.keystore
      **/android/**/app/*.jks

      # iOS related
      **/ios/Pods/
      **/ios/.symlinks/
      **/ios/Flutter/Flutter.framework
      **/ios/Flutter/Flutter.podspec
      **/ios/Flutter/App.framework
      **/ios/Flutter/engine/
      **/ios/Flutter/Generated.xcconfig
      **/ios/Flutter/Flutter.podspec
      **/ios/Flutter/ephemeral/
      **/ios/.generated/

      # macOS related
      **/macos/Flutter/ephemeral/
      **/macos/Pods/

      # Web related
      **/web/.dart_tool/

      # Windows related
      **/windows/flutter/ephemeral/

      # Linux related
      **/linux/flutter/ephemeral/

      # VSCode files
      .vscode/
      .idea/
      *.iml

      # Xcode files
      DerivedData/
      *.xcworkspace/
      *.xcuserdata/
      *.xcuserstate
      *.xcodeproj/project.xcworkspace/
      *.xcodeproj/xcuserdata/
      *.xcodeproj/xcshareddata/

      # Logs & temp files
      *.log
      *.tmp
      *.temp
      *.lock
      *.DS_Store

      # Firebase / Google Services (DO NOT UPLOAD)
      **/android/app/google-services.json
      **/ios/Runner/GoogleService-Info.plist
      **/macos/Runner/GoogleService-Info.plist

      # Fastlane
      fastlane/report.xml
      fastlane/Preview.html
      fastlane/screenshots
      fastlane/test_output

      # Misc
      pubspec.lock
      coverage/
